form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;

  input, button {
    margin: 1rem 0;
    border: 1px solid white;
  }
  input {
    background-color: transparent;
    padding-left: 1rem;
    text-transform: uppercase;
    color: white;
    font-size: .8rem;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
  }
}
